target/classes/api-spec-template.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<apikit:config name="api-spec-template-config"
		outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"
		raml="api\api-spec-template.raml" />
	<flow name="api-spec-template-main">
		<http:listener config-ref="HTTP_Listener_config" path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>

		<json-logger:logger doc:name="StartLogger" doc:id="7ddbfb7a-b3c9-4651-9175-ae912ddefb33" message='"Request received"' config-ref="JSON_Logger_Config">
			<json-logger:content ><![CDATA[#[output application/json ---
{
	
	(payload: payload) if (p("json.logger.EnableLoggingPayload") == 'true'),
 	attributes: attributes
	
}]]]></json-logger:content>
		</json-logger:logger>
		<http:basic-security-filter doc:name="Basic security filter"
			doc:id="4211e71d-6e52-4221-9522-bd3cb2a74366" realm="mule" />
		<spring:authorization-filter doc:name="Authorization filter"
			doc:id="ab422963-3033-40a8-a26c-456c18ae9108" requiredAuthorities="ROLE_ADMIN" />
		<apikit:router config-ref="api-spec-template-config" />
	</flow>
	
	<flow name="api-spec-template-console" initialState="${api.console.initial}">
		<http:listener config-ref="HTTP_Listener_config" path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="api-spec-template-config" />
	</flow>
	<flow name="get:\status:api-spec-template-config">
		<flow-ref doc:name="ApiTemplateDemo" doc:id="6689a6e7-49e8-4b56-98ba-099a895237b9" name="api-templateFlow"/>
	</flow>
</mule>
